[Unit]
Description=Shared Store Platform

[Service]
EnvironmentFile=/etc/environment
Type=forking
WorkingDirectory=/home/ubuntu
ExecStart=sudo -b /usr/bin/dotnet /home/ubuntu/lib/ChainBuy.dll deploy
Restart=always

[Install]
WantedBy=multi-user.target
